APPWRITE_PROJECT_ID = ""
APPWRITE_PROJECT_NAME = ""
APPWRITE_ENDPOINT = "https://sgp.cloud.appwrite.io/v1"
APPWRITE_DATABASE_ID=""
APPWRITE_TABLE_INSTITUTION_ID=""
APPWRITE_TABLE_STUDENT_ID=""
APPWRITE_TABLE_META_ID=""

APPWRITE_ROWS_META = ""

APPWRITE_TABLE_USERS_ID=""
APPWRITE_TABLE_SESSIONS_ID=""
APPWRITE_TABLE_CONTRIBUTIONS_ID = ""
APPWRITE_API_KEY=""

UPSTASH_REDIS_URL=""

ORIGIN_URL="http://localhost:5173"
PORT=5000

GEEKSFORGEEKS_BASE_URL="https://practiceapi.geeksforgeeks.org/api/v1"
BANNED_WORDS_DECRYPTION_KEY="2a0a51a4e9a3110b6fe2737d3f842eba4fd04dac308a8344edf021656dd42bd5"